#header{
    text-align: center;
    font-size: 20;
    font-weight: bold;
   
}

.outer_bordr{
    background: white;
    border: 2px solid;
    height: 500px;
    width: 600px;

}
.info_txt{
   
    height: 40px;
    width: 550px;
 margin-top: 10; 
  margin: 10 auto ;
 
}
.age{
text-align: center;
}